@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@1&display=swap');

body {
    background-color: #110c0c;
    color: #fff;
}

.navbar {
    z-index: 1000;
}

.menu-lateral {
    width: 70px;
    height: 100vh;
    background-color: #202020;
    padding: 40px 0;
    box-shadow: 3px 0 0 #f5a001;
    transition: .5s;
}

.btn-expandir {
    width: 100%;
    padding-left: 10px;
}

.navbar-nav .nav-link {
    color: #fff;
}

.navbar-nav .nav-link.active {
    background-color: #f5a001;
}

.profile-picture {
    width: 100%;
    max-width: 350px; 
    height: auto; 
    border-radius: 50%; 
    overflow: hidden; 
    border: 5px solid #f5a001;
    margin: 0 auto;
}

.links a {
    color: #ffffff;
    text-decoration: none;
    font-size: 24px;
    background: transparent;
    width: 40px;
    height: 40px;
    border: 2px solid #f5a001;
    border-radius: 50%;
    margin: 3px;
}

.infos, .carta, .contatos {
    margin: 0 auto;
    max-width: 800px;
}

.btn-outline-warning, .btn-outline-light {
    border: 3px solid #f5a001;
    color: #f5a001;
    transition: color 0.2s, border-color 0.2s;
}

.btn-outline-warning:hover, .btn-outline-light:hover {
    color: #110c0c;
    background-color: #f5a001;
    border-color: #f5a001;
}

.text-center {
    text-align: center;
}

.mt-5 {
    margin-top: 3rem !important;
}
